<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <switches>
      <!-- 
             
            This switch controls general messages. In order to 
            receive general trace messages change the value to the 
            appropriate level. 
             
            "0" Off
            "1" Error messages
            "2" Warning, gives Error and Warning messages
            "3" Information, gives Error, Warning and Information messages
            "4" Verbose, gives Error, Warning, Information and Verbose messages
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
             
            -->
      <add name="Steropes.Tiles.Monogame.MonoGameRenderer" value="Information" />
      <add name="Steropes.Tiles.Monogame.DebugOverlayRenderer" value="Information" />
    </switches>
    
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">
        </add>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>