<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net452" />
  <package id="steropes.ui" version="2.0.0" targetFramework="net452" />
  <package id="steropes.ui.windows" version="2.0.0" targetFramework="net452" />
</packages>